import { exercise1, parse, exercise2 } from ".";
import { data } from "./data";

const mockData = ``;

describe("parse", () => {
  test("mockData", () => {
    const res = parse(mockData);

    expect(res).toEqual(expect.arrayContaining([]));
  });
});

describe("exercise1", () => {
  test("mockData", () => {
    const res = exercise1(mockData);

    expect(res).toEqual();
  });

  test.skip("data", () => {
    const res = exercise1(data);

    expect(res).toEqual();
  });
});

describe.skip("exercise2", () => {
  test("mockData", () => {
    const res = exercise2(mockData);

    expect(res).toEqual();
  });

  test.skip("data", () => {
    const res = exercise2(data);

    expect(res).toEqual();
  });
});
